/**.corpo-cabecalho {
    position: absolute;
    height: 100%;
    width: 5%;
    background: #2D3CCD;
}

.logo-cabecalho img {
    position: relative;
    margin-top: 20px;
    margin-left: 25%;
    max-width: 40%;
}

.lista {
    margin-top: 150px;
}

.lista img {
    position: relative;
    margin-top: 20px;
    margin-left: 25%;
    max-width: 40%;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    border-bottom: 1.9px solid #D9D9D9;
}

.barra-superior h2 {
    margin-left: 60px;
}

.menu-superior {
    display: flex;
    padding-bottom: 10px;
    margin-right: 20%;
    justify-content: space-between;
}

.menu-superior li a {
    display: flex;
    padding: 10px;
    padding-right: 0px;
}

.menu-superior li a img {
    max-width: 5%;
    padding-left: 100%;
}

.caixa {
    padding: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 9%;
    margin-top: 5%;
    border: 2px solid #2D3CCD;
    border-radius: 20px;
}

.estrutura-site {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20vh 70vh 10vh;
}
**/

.conteudo {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "cabecalho-esquedo cabecalho-superior" "cabecalho-esquedo conteudo" "cabecalho-esquedo conteudo";
}

#cabecalho-esquedo {
    background: #2D3CCD;
    grid-area: cabecalho-esquedo;
}

.cabecalho-superior {
    grid-area: cabecalho-superior;
}

.cabecalho-superior>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.9px solid #D9D9D9;
    padding: 10px;
    vertical-align: middle;
}

.menu-centro {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
}

.menu-centro>div {
    border: 2px solid #2D3CCD;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 5px;
}