i.icon-blue {
    color: #1976d2;
}

.logo-corrector {
    text-align: center;
}

img.logo-corrector {
    padding-top: 10px;
    max-width: 20%;
}

.alinhamento-vertical-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.image-corrector {
    max-width: 80px;
}

.center-align {
    padding: 30px;
}

.alinhamento-itens {
    display: inline-block;
}

/* Pagina login */

#correcao-padding {
    padding-top: 20px;
}

#alinhamento-login {
    width: 100%;
    height: 100%;
    position: absolute;
}

#alinhamento-login2 {
    width: 100%;
}