i.icon-blue {
    color: #1976d2;
}

#espacamento-logo {
    padding-bottom: 200px;
}

.logo-corrector {
    text-align: center;
}

img.logo-corrector {
    padding-top: 10px;
    max-width: 20%;
}

#text-logo-color {
    color: white;
    font-size: 20px;
}

.alinhamento-vertical-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards-correction {
    padding: 5px 10px 10px 10px;
}

.card-text-format {
    padding-top: 15px;
}

img.image-corrector {
    max-width: 9%;
}

.center-align {
    padding: 30px;
}


/* Pagina login */

#correcao-padding {
    padding-top: 20px;
}

#alinhamento-login {
    width: 100%;
    height: 100%;
    position: absolute;
}

#alinhamento-login2 {
    width: 100%;
}