i.icon-blue {
    color: #1976d2;
}

img.logo-corrector {
    vertical-align: middle;
    margin-top: 9px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20%;
    max-width: 15%;
}

#text-logo-color {
    color: white;
    font-size: 20px;
}

.alinhamento-vertical-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards-correction {
    padding: 5px 10px 10px 10px;
}

.card-text-format {
    padding-top: 15px;
}

img.image-corrector {
    max-width: 9%;
}

.center-align {
    padding: 30px;
}


/* Pagina login */

#correcao-padding {
    padding-top: 20px;
}

.mudar-cor-input {
    color: white;
}

.logo-login {
    max-width: 50%;
}